.App {
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 10rem;
}




form input{
  border: .1rem solid #ccc;
  border-radius: .3rem;
  width: 45rem;
  margin: 4rem 0;
  padding: .6rem 1rem;
  font-size: 1.6rem;
  letter-spacing: .06rem;
  font-weight: bold;
}

form button{
  padding: .8rem 2.8rem;
  border: none;
  border-radius: .3rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2.4rem;
   background-color: #68B984;
   color: #fff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
